In [5]:
import pandas as pd


df = pd.read_parquet('dataset.parquet')

In [6]:
df

,id,ticket_id,ticket_type_nm,entrance_id,entrance_nm,station_id,station_nm,line_id,line_nm,pass_dttm,time_to_under,label,mean_travel
0,1,40BD89EC85646EFB69E283F39C298E60,Пропуск FacePay,2402,Лефортово БКЛ,11007,Лефортово,11,Большая кольцевая,2022-09-12 05:00:13,216.316667,8001,23.833333
1,2,126727A96489CC976A8C08E5CEB00542,СК учащегося 30 дней,110,Войковская ( Южный ),2006,Войковская,2,Замоскворецкая,2022-09-12 05:00:54,648.183333,9011,44.930000
2,3,D28CE6A9E0E5B6D213470A97CFF32485,БСК дружинника г.Москвы,110,Войковская ( Южный ),2006,Войковская,2,Замоскворецкая,2022-09-12 05:00:55,865.333333,7022,27.687778
3,4,015DA44B523C062B5BFEFF3FB0E64B9E,30 дней,110,Войковская ( Южный ),2006,Войковская,2,Замоскворецкая,2022-09-12 05:01:13,1048.233333,2022,9.880000
4,5,95B19C6F3A504727AC3EA56EB7E3E80F,КОШЕЛЕК,110,Войковская ( Южный ),2006,Войковская,2,Замоскворецкая,2022-09-12 05:02:55,965.600000,2017,5.690000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091016,1091017,6A738232F8E43DFCD4027FDC0EA6CC03,Пропуск FacePay,2283,Нижегородская (второй),15005,Нижегородская,15,Некрасовская,2022-09-19 02:54:50,124.750000,15005,0.000000
1091017,1091018,141174B366F14A8703903813A49374DB,Пропуск FacePay,278,Калужская (Северный),6007,Калужская,6,Калужско-Рижская,2022-09-19 03:06:02,56.066667,6007,0.000000
1091018,1091019,E38493B30A7C55170806F187AF5EEA15,Пропуск FacePay,118,Каширская (Северный ),2010,Каширская,2,Замоскворецкая,2022-09-19 03:17:00,91.283333,2010,0.000000
1091019,1091020,3DF2B6366631ECA06274DD2CB5B0DF24,Пропуск FacePay,2452,Воронцовская (Первый),11014,Воронцовская,11,Большая кольцевая,2022-09-19 03:23:30,47.900000,11014,0.000000
1091020,1091021,80DA097A0BBFD91F5B15697AD53F8D3B,Пропуск FacePay,320,Пушкинская,7015,Пушкинская,7,Таганско-Краснопресненская,2022-09-19 04:10:42,34.100000,7015,0.000000

In [7]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [id, ticket_id, ticket_type_nm, entrance_id, entrance_nm, station_id, station_nm, line_id, line_nm, pass_dttm, time_to_under, label, mean_travel]
Index: []

In [8]:
df.ticket_type_nm.value_counts()

КОШЕЛЕК                                                   262499
30 дней ЕДИНЫЙ ТК                                         177041
Социальная карта москвича                                 127022
30 дней                                                   117064
90 дней ЕДИНЫЙ ТК                                          58071
30 дней СК студента                                        48658
60 поездок ЕДИНЫЙ ТК                                       46542
30 дней Пригород ТК                                        45381
СК студента 30 дней                                        39395
ББК                                                        29674
30 дней СК учащегося                                       24307
365 дней ЕДИНЫЙ ТК                                         20859
СК учащегося 30 дней                                       16933
Социальная карта жителя Моск. области                      15551
90 дней                                                    12817
Пропуск FacePay                                             9234
СК студента 90 дней                                         6744
СК учащегося 90 дней                                        3169
30 дней  Пригород                                           3098
БСК дружинника г.Москвы                                     2829
СК для сотрудника ГУВД г.Москвы                             2634
ВЕСБ МОСКВА (7мин)                                          2555
90 дней СК студента                                         2535
Социальная карта москвича с сопровождающим                  2272
90 дней Пригород ТК                                         2258
90 дней СК учащегося                                        1549
30 дней СК ординатора                                       1264
365 дней Пригород ТК                                        1173
СК ординатора 30 дней                                       1166
30 дней СК аспиранта                                        1045
СК аспиранта 30 дней                                         869
365 дней                                                     768
Пропуск сотрудника УВД по охране Метрополитена               541
СК аспиранта 90 дней                                         510
3 суток Единый ТК                                            504
СК ординатора 90 дней                                        361
ВЕСБ МО (7 мин)                                              335
Социальная карта жителя Моск. области с сопровождающим       244
Ультралайт Единый (70)                                       233
90 дней  Пригород                                            188
Временный билет ММ                                           159
90 дней СК ординатора                                        142
1 сутки ЕДИНЫЙ ТК                                            123
Пропуск сотрудника  метрополитена                            113
Билет 3 суток ЕДИНЫЙ                                         113
90 дней СК аспиранта                                          92
ВЕСБ МО (тип 5)                                               61
Безналичная транспортная карта                                60
ВЕСБ МОСКВА                                                   56
30 дней СК ассистента-стажера                                 49
Пропуск  сотрудника МЦК                                       44
СК ассистента-стажера 30 дней                                 34
365 дней  Пригород                                            30
Пропуск руководителя метрополитена                            24
СК ассистента-стажера 90 дней                                 10
1 сутки Пригород ТК                                            7
ВЛБ МОСКВА                                                     6
ВЕСБ МО с сопровождающим                                       2
ВЕСБ МО (тип 6)                                                2
Билет 1 сутки ЕДИНЫЙ                                           2
Name: ticket_type_nm, dtype: int64

In [9]:
df.ticket_type_nm.replace('СК учащегося 90 дней', '30 дней СК учащегося', inplace=True)
df.ticket_type_nm.replace('СК студента 90 дней', '30 дней СК студента', inplace=True)
df.ticket_type_nm.replace('90 дней СК учащегося', '30 дней СК учащегося', inplace=True)
df.ticket_type_nm.replace('СК учащегося 30 дней', '30 дней СК учащегося', inplace=True)
df.ticket_type_nm.replace('90 дней СК студента', '30 дней СК студента', inplace=True)
df.ticket_type_nm.replace('СК студента 30 дней', '30 дней СК студента', inplace=True)
df.ticket_type_nm.replace('365 дней ЕДИНЫЙ ТК', '90 дней ЕДИНЫЙ ТК', inplace=True)
df.ticket_type_nm.replace('90 дней', '90 дней ЕДИНЫЙ ТК', inplace=True)
df.ticket_type_nm.replace('90 дней Пригород ТК', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('90 дней Пригород', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('365 дней Пригород ТК', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('365 дней  Пригород ТК', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('365 дней  Пригород', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('1 сутки Пригород ТК', '30 дней Пригород ТК', inplace=True)
df.ticket_type_nm.replace('90 дней  Пригород', '30 дней Пригород ТК', inplace=True)


df.ticket_type_nm.replace('30 дней СК аспиранта', 'СК аспиранта 30 дней', inplace=True)
df.ticket_type_nm.replace('90 дней СК аспиранта', 'СК аспиранта 30 дней', inplace=True)
df.ticket_type_nm.replace('СК аспиранта 90 дней', 'СК аспиранта 30 дней', inplace=True)

df.ticket_type_nm.replace('90 дней СК ординатора', 'СК ординатора 30 дней', inplace=True)
df.ticket_type_nm.replace('СК ординатора 90 дней', 'СК ординатора 30 дней', inplace=True)
df.ticket_type_nm.replace('30 дней СК ординатора', 'СК ординатора 30 дней', inplace=True)


df.ticket_type_nm.replace('365 дней', '90 дней ЕДИНЫЙ ТК', inplace=True)

df.ticket_type_nm.replace('ВЕСБ МОСКВА', 'ВЕСБ МОСКВА (7мин)', inplace=True)
df.ticket_type_nm.replace('ВЕСБ МО (тип 5)', 'ВЕСБ МО (7 мин)', inplace=True)
df.ticket_type_nm.replace('ВЕСБ МО с сопровождающим', 'ВЕСБ МО (7 мин)', inplace=True)
df.ticket_type_nm.replace('ВЕСБ МО (тип 6)', 'ВЕСБ МО (7 мин)', inplace=True)
df.ticket_type_nm.replace('ВЛБ МОСКВА', 'ВЕСБ МО (7 мин)', inplace=True)

df.ticket_type_nm.replace('СК ассистента-стажера 30 дней', '30 дней СК ассистента-стажера', inplace=True)
df.ticket_type_nm.replace('СК ассистента-стажера 90 дней', '30 дней СК ассистента-стажера', inplace=True)

df.ticket_type_nm.replace('Билет 1 сутки ЕДИНЫЙ', '1 сутки ЕДИНЫЙ ТК', inplace=True)

df.ticket_type_nm.replace('Билет 3 суток ЕДИНЫЙ', '1 сутки ЕДИНЫЙ ТК', inplace=True)
df.ticket_type_nm.replace('3 суток Единый ТК', '1 сутки ЕДИНЫЙ ТК', inplace=True)

df.ticket_type_nm.replace('Ультралайт Единый (70)', '60 поездок ЕДИНЫЙ ТК', inplace=True)

df['station_id'] = df['station_id'].astype("category")
df.ticket_type_nm.value_counts()

КОШЕЛЕК                                                   262499
30 дней ЕДИНЫЙ ТК                                         177041
Социальная карта москвича                                 127022
30 дней                                                   117064
30 дней СК студента                                        97332
90 дней ЕДИНЫЙ ТК                                          92515
30 дней Пригород ТК                                        49037
60 поездок ЕДИНЫЙ ТК                                       46775
30 дней СК учащегося                                       45958
ББК                                                        29674
Социальная карта жителя Моск. области                      15551
Пропуск FacePay                                             9234
30 дней  Пригород                                           3098
СК ординатора 30 дней                                       2933
БСК дружинника г.Москвы                                     2829
СК для сотрудника ГУВД г.Москвы                             2634
ВЕСБ МОСКВА (7мин)                                          2611
СК аспиранта 30 дней                                        2516
Социальная карта москвича с сопровождающим                  2272
1 сутки ЕДИНЫЙ ТК                                            742
Пропуск сотрудника УВД по охране Метрополитена               541
ВЕСБ МО (7 мин)                                              406
Социальная карта жителя Моск. области с сопровождающим       244
Временный билет ММ                                           159
Пропуск сотрудника  метрополитена                            113
30 дней СК ассистента-стажера                                 93
Безналичная транспортная карта                                60
Пропуск  сотрудника МЦК                                       44
Пропуск руководителя метрополитена                            24
Name: ticket_type_nm, dtype: int64

In [10]:
weirdos = df.ticket_type_nm.value_counts()[df.ticket_type_nm.value_counts() < 2000].index.to_list()
for weird in weirdos:
  df.ticket_type_nm.replace(weird, 'КОШЕЛЕК', inplace=True)

In [11]:
from datetime import datetime

q3_df = df.groupby('ticket_type_nm').apply(lambda x :
          x[(x.time_to_under <= x.time_to_under.quantile(0.90)) 
          & (x.time_to_under >= x.time_to_under.quantile(0.10))]).reset_index(drop=True)
q3_df['pass_dt'] = [datetime.strptime(d, '%Y-%m-%d %H:%M:%S') for d in q3_df['pass_dttm']]
q3_df['weekday'] = [d.date().weekday() for d in q3_df['pass_dt']]
q3_df['hour'] = [d.time().hour for d in q3_df['pass_dt']]
q3_df['time_cont'] = [d.time().hour * d.time().minute / 24 / 60 for d in q3_df['pass_dt']]

In [12]:
q3_df.hour.value_counts()

8     202237
7     176898
9     122004
6      87848
10     66960
11     46042
12     33658
13     29470
14     22671
15     18934
16     15407
5      14958
17     13923
18     10426
0       4850
19      4504
20      1281
1        267
21       206
2         96
4         81
22        73
3         39
Name: hour, dtype: int64

In [13]:

q3_df.hour.replace(1, 0, inplace=True)
q3_df.hour.replace(2, 0, inplace=True)
q3_df.hour.replace(3, 0, inplace=True)
q3_df.hour.replace(4, 0, inplace=True)

q3_df.hour.replace(20, 19, inplace=True)
q3_df.hour.replace(21, 19, inplace=True)
q3_df.hour.replace(22, 19, inplace=True)

q3_df.hour.value_counts()

8     202237
7     176898
9     122004
6      87848
10     66960
11     46042
12     33658
13     29470
14     22671
15     18934
16     15407
5      14958
17     13923
18     10426
19      6064
0       5333
Name: hour, dtype: int64

In [14]:
q3_df.weekday.value_counts()

1    140703
0    139808
2    139441
3    137285
4    131846
5    100579
6     83171
Name: weekday, dtype: int64

In [16]:
q3_df.ticket_type_nm.value_counts()

КОШЕЛЕК                                       211946
30 дней ЕДИНЫЙ ТК                             141638
Социальная карта москвича                     101618
30 дней                                        93657
30 дней СК студента                            77869
90 дней ЕДИНЫЙ ТК                              74014
30 дней Пригород ТК                            39229
60 поездок ЕДИНЫЙ ТК                           37419
30 дней СК учащегося                           36767
ББК                                            23739
Социальная карта жителя Моск. области          12441
Пропуск FacePay                                 7387
30 дней  Пригород                               2478
СК ординатора 30 дней                           2345
БСК дружинника г.Москвы                         2263
СК для сотрудника ГУВД г.Москвы                 2106
ВЕСБ МОСКВА (7мин)                              2089
СК аспиранта 30 дней                            2012
Социальная карта москвича с сопровождающим      1816
Name: ticket_type_nm, dtype: int64

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import Ridge
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import numpy as np


sample = q3_df
enc = OneHotEncoder()
x_raw = sample[['ticket_type_nm', 'line_id', 'hour', 'weekday']].values # 'weekday', 'hour', 'ticket_type_nm'
x_enc = enc.fit_transform(x_raw)

scaler = StandardScaler()
y_raw = sample['time_to_under'].values.reshape(-1, 1)
y_std = scaler.fit_transform(y_raw).ravel()

x_train, x_test, y_train, y_test = train_test_split(x_enc, y_std, train_size=1000, test_size=1000, random_state=42)

# poly = PolynomialFeatures(2)
# x_train = poly.fit_transform(x_train)
# x_test = poly.fit_transform(x_test)

distributions = dict(alpha=np.linspace(1e-5, 10, 100))

reg = Ridge()  #SGDRegressor(max_iter=100)
reg = GridSearchCV(reg, distributions)
search = reg.fit(x_train, y_train)#LinearRegression().fit(x_train, y_train)
print(search.best_params_)
reg.score(x_train, y_train)

reg = Ridge(**search.best_params_)
reg.fit(x_train, y_train)
reg.score(x_train, y_train)

{'alpha': 2.22223}

0.5300554480312403

In [18]:
reg.score(x_test, y_test)
regscore = reg.score(x_test, y_test)

In [19]:
q3_df.label.value_counts()

3002     14931
6008     12824
1022     11817
7022     11055
5010     10929
         ...
13002       20
13003       16
13006       13
13004        6
13005        5
Name: label, Length: 276, dtype: int64

In [20]:
keep_index = q3_df.label.value_counts()[q3_df.label.value_counts() > 1000].index
classification_df = q3_df[q3_df.label.isin(keep_index)]
classification_df.label.value_counts()

3002     14931
6008     12824
1022     11817
7022     11055
5010     10929
         ...
10021     1022
12003     1015
4012      1009
9017      1007
14022     1007
Name: label, Length: 223, dtype: int64

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn import svm


enc = OneHotEncoder(sparse=False)

scaler = StandardScaler()
x_raw = classification_df[['ticket_type_nm', 'station_id']].values
x_std = scaler.fit_transform(classification_df[['time_to_under', 'time_cont']].values)
x_enc = enc.fit_transform(x_raw)
x_final = np.append(x_enc, x_std, axis=1)

y = classification_df['label'].values

x_train, x_test, y_train, y_test = train_test_split(x_final, y, train_size=10000, test_size=3000, random_state=42)

# distributions = dict(n_neighbors=np.arange(0, 20), weights=['uniform', 'distance'])
# clf = KNeighborsClassifier(weights='distance', p=1) #RandomForestClassifier(random_state=0)
# clf = RandomizedSearchCV(clf, distributions, random_state=2)
# search = clf.fit(x_train, y_train)
# print(search.best_params_)
clf = KNeighborsClassifier(n_neighbors=4, weights='distance', p=1)
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.034666666666666665

In [22]:
score = (regscore+clf.score(x_test, y_test))/2
print(score)

0.2449895704063537